// .category {
//     .collection-year {
//         display: none;
//     }
//     .post-meta-container {
//         display: none !important;
//     }
// }
.element {
    line-height: 1.4em;

    .element-title {
        font-weight: bold;
        font-size: 1em;
        padding-right: .2em;
    }

    .element-description {
        color: gray;
        font-size: .9em;
    }
}

.element-capital {
    font-size: 2em;
    // visibility: visible !important;
}
