// .category {
//     .collection-year {
//         display: none;
//     }
//     .post-meta-container {
//         display: none !important;
//     }
// }

.element-description {
    padding-left: .2em;
}

.element-item {
    line-height: 1.8em;

    .element-title {
        font-weight: bold;
        font-size: 1em;
    }

    .element-description {
        color: gray;
        font-size: .9em;
    }
}

.element-capital {
    font-size: 1.5em !important;
    margin-top: 30px;
    margin-bottom: unset !important;
    // visibility: visible !important;
}

.element-page {
    .post-header {
        text-align: left !important;
        margin-bottom: 30px !important;
    }

    .post-meta {
        justify-content: left !important;
    }

    .element-description {
        color: gray;
        font-size: .6em;
    }
}

.element-list {
    &.element-related-list {
        padding-top: 0;

        .element-item {
            line-height: 1.4em;

            .element-title {
                font-size: .85em;
            }

            .element-description {
                font-size: .7em;
            }
        }
    }
}

.element-related-title {
    margin-top: 20px;
    margin-bottom: 5px;
    font-style: italic;
    font-weight: bold;
}

.element-dictionary {
    .post-header {
        margin-bottom: 0;
    }
}